.container-fluid
  %nav.navbar.navbar-inverse.navbar-fixed-top{:role => "navigation"}
    %a{:class => "navbar-brand", :href => "#"} Brand
  .page-header
    %h1 A subtitle
  %ul.nav.nav-tabs
    %li{:role =>"presentation", :class => "active"}
      %a{:href => "#"}Home
    %li{:role =>"presentation"}
      %a{:href => "#"}Profile
    %li{:role => "presentation"}
      %a{:href => "#"}Brand
  %ol.breadcrumb
    %li{:role => "presentation", :class => "active"}
      %a{:href => "#"}Home
    %li{:role=>"presentation"}
      %a{:href=>"#"}Categories
    %li{:role=>"presentation"}
      %a{:href=>"#"}Shoes
    %li{:class=>"active"}Loafers
  %br
  .jumbotron
    %h1 This is some title
    %p and this is some lead text
  .panel.panel-primary
    .panel-heading Some Panel
    .panel-body This is some text.
  .row
    .col-md-6 This is some text that belongs in a column. This is some text that belongs in a column. This is some text that belongs in a column
    .col-md-6 This is some text that belongs in a column. This is some text that belongs in a column. This is some text that belongs in a column
  .well Look I'm in a well!
  %br
  %br
  .row
    .col-md-4 This is some text that belongs in a column. This is some text that belongs in a column. This is some text that belongs in a column.
    .col-md-4 This is some text that belongs in a column. This is some text that belongs in a column. This is some text that belongs in a column.
    .col-md-4 This is some text that belongs in a column. This is some text that belongs in a column. This is some text that belongs in a column.
  %table{:class=>"table table-bordered table-striped"}
    %thead
      %tr
        %th Name
        %th Age
    %tbody
      %tr
        %td Sue Example
        %td 27
      %tr
        %td Bob Example
        %td 34
