<!DOCTYPE html>
<html>
<head>
  <title>MySimpleRailsApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav class="navbar navbar-inverse" role="navigation">
  ...
</nav>

<div class="page-header">
  <h1>A subtitle</h1>
</div>

<ul class="nav nav-tabs">
  <li role="presentation" class="active"><a href="#">Home</a></li>
  <li role="presentation"><a href="#">Profile</a></li>
  <li role="presentation"><a href="#">Messages</a></li>
</ul>
<br/>
<ol class="breadcrumb">
  <li><a href="#">Home</a></li>
  <li><a href="#">Categories</a></li>
  <li><a href="#">Shoes</a></li>
  <li class="active">Loafers</li>
</ol>

<div class="jumbotron">
  <h1>This is some title</h1>
  <p>and this is some lead text.</p>
</div>

<div class="panel panel-primary">
  <div class="panel-heading">Some Panel</div>
  <div class="panel-body">
    This is some text.
  </div>
</div>



  <!-- Table -->
  <table class="table">

          <thead>
          <tr>
            <th>#</th>
            <th>Name</th>
            <th>Age</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
          </tr>
  </table>




</body>

</html>
